<html>
    {% block head %}
        <head>
            {% block css %}
                <!-- Bootstrap core CSS -->
                <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
            {% endblock %}
            {% block title %}
                <title>Comparte Tu Coche - Bienvenido a la plataforma de compartir coche</title>
            {% endblock %}
        </head>
    {% endblock %}

    {% block contenido %}
    <body>
        {% block b1 %}
            <div>Bloque 1</div>
        {% endblock %}
        {% block b2 %}
            <div>Bloque 2</div>
        {% endblock %}
        {% block b3 %}
            <div>Bloque 3</div>
        {% endblock %}    
    </body>
    {% endblock %}
</html>