<div class="category-list">
    <div class="tab-box clearfix ">
        <!-- Nav tabs -->
        <div class="col-lg-12  box-title no-border">
            <div class="inner">
                <h2>
                    <span> Trayectos </span> publicados
                    <small> {{ trayectos|length }} resultado encontrado</small>
                </h2>
            </div>
        </div>
        
    <div class="adds-wrapper jobs-list">
        {% for trayecto in trayectos %}
            {% include "list/trayecto.html.twig" with {'trayecto': trayecto} %}
        {% endfor %}
    </div>
</div>